
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>微博传播路径分析</title>
    <link rel="stylesheet" href="css/public.css?v=20160728223322"/>
    <link rel="stylesheet" href="css/style.css?v=20160728233222"/>
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/jc.js"></script>
    <script type="text/javascript" src="js/d3.min.js"></script>
    <script type="text/javascript" src="js/json.js"></script>

    <script type="text/javascript" src="js/spread.js?v=20160726134822"></script>
    <script type="text/javascript" src="js/init.js"></script>
</head>

<body>
<!--微博传播路径分析-->
<div class="sj-com-bk wb-cb-lj">
    <div class="wx-jk-tit no-bb">
        <p class="wb-cb-tit">微博传播路径分析</p>
    </div>
    <div class="wb-xm-sp">
        <div class="wb-sp-pc lf">
            <img src="images/xw-jk-img09.jpg" alt="" />
            <div class="wb-sp-num">
                <p>小米手机</p>
                <ul>
                    <li><a>111</a><span>关注</span></li>
                    <li><a>111万</a><span>粉丝</span></li>
                    <li><a>1111</a><span>微博</span></li>
                </ul>
            </div>
        </div>
        <div class="wb-sp-rt rt">
            <p class="wb-sp-des">
                【<a href="#" class="wb-sp-at">#小米旗舰新品发布会#</a>1月15日北京国家会议中心】属于我们的狂欢再度来袭：想一块揭开神秘新品的面纱？现场体验旗舰发布的震撼？ 1000张门票，每张仅99元。还等什么，立即转发奔走相告：http://t.cn/RZVdM1H
            </p>
            <ul>
                <li>2015-01-07 10:00</li>
                <li>iPad客户端</li>
                <li>转发<span>3391</span></li>
                <li>评论<span>23324</span></li>
                <li class="rt">提交时间：2015-08-31 16:30</li>
            </ul>
        </div>
    </div>
    <!--路径分析图-->
    <div class="wb-lj-fx">
    </div>
</div>
<!--end 微博传播路径分析-->
</body>

</html>