
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>分类热点消息</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/typeHot.js?v=js20160603101911"></script>
    <script src="js/matrix.js"></script>
</head>
<body>
<!-- <a class="back"></a> -->
<div class="cb-hot-container">
    <header class="cb-header"></header>
    <nav class="cb-navbar">
        <ul>
            <li id="b0" class="cb-nav-cur"><a>新闻</a></li>
            <li id="b1"><a href="#">娱乐</a></li>
            <li id="b2"><a>财经</a></li>
            <li id="b3"><a>科技</a></li>
            <li id="b4"><a>教育</a></li>
            <li id="b5"><a>汽车</a></li>
        </ul>
    </nav>
    <div class="cb-main-con" id="cb-main-con" style="width:1920px;height:800px;">
        <!--             <div style="width:113%;height: 862px;overflow: hidden;margin: -85px 0 0 -235px;">
                        <div style="width:111%;height: 110%;padding:-100px" id="main"></div>
                    </div> -->
    </div>
</div>
<script type="text/javascript">
    var datas = [
        [
            ['国务院发文：文化执法严禁将罚款与收入挂钩', 'http://www.baidu.com'],
            ['国务院要求彻查假冒“雅培”乳粉去向', '/bbbbb'],
            ['李克强：确保所有行业税负“只减不增”', '/ccccc'],
            ['分析称一季度GDP增速或为6.7％左右', '/ddddd'],
            ['部分基层干部自愿提早退休 待遇不降反升', '/eeeee'],
            ['上海彻查假冒乳粉流向 已查获假冒乳粉符合标准', '/fffff'],
            ['朝鲜摆出低姿态 首次提及对话解决朝核问题', '/ggggg'],
            ['外媒称美军计划再次“巡航”南海 赴美济礁区域', '/hhhhh'],
            ['已建成2个海关特殊监管区域 3个保税物流中心', '/iiiii'],
            ['我市鼓励金融资产管理公司对银行不良资产打包处置', '/jjjjj'],
            ['铜梁全面实施32个撤并场镇基础设施建设', '/kkkkk'],
            ['低保标准未来将每年调整', '/lllll'],
            ['大渡口一企业液氨泄漏 消防8小时堵漏无人伤', '/mmmmm'],
            ['万开云”板块一体化 三地公共资源“同城待遇”', '/ooooo'],
            ['外来客最爱逛解放碑', '/ppppp'],
            ['重庆祭拜英烈的游客增多', '/qqqqq'],
            ['重庆打造内陆高地 区县密集放出建综合保税区消息', '/rrrrr'],
            ['3月人事变动：刘伟辞重庆市副市长职务 十区县主要领导调整', '/sssss'],
            ['重庆每年5亿专项资金 建长江上游航运中心', '/ttttt'],
            ['重庆44万户微企带动就业318万余人', '/uuuuu']
        ],
        [
            ['林心如摆各种姿势秀包包 网友：包美人更美', 'http://www.baidu.com'],
            ['柯以敏反指超女炒作 经纪人:保留追责权利', '/bbbbb'],
            ['恭喜!戴娇倩上海顺利产女', '/ccccc'],
            ['张雨绮晒自拍发肿嘴唇抢镜', '/ddddd'],
            ['房祖名柯震东台北同乐3天', '/eeeee'],
            ['范冰冰体验"苦日子" 狭小空间里刷牙泡脚无形象', '/fffff'],
            ['杨坤健身房半裸秀胸肌', '/ggggg'],
            ['郭富城首获金像影帝', '/hhhhh'],
            ['杨幂晒合影调侃友人脸大', '/iiiii'],
            ['陈乔恩迎37岁生日晒长腿美照', '/jjjjj'],
            ['"奶爸"林志颖带三个儿子逛公园 画面温馨', '/kkkkk'],
            ['窦靖童台北献唱 穿背心弹吉他显帅气', '/lllll'],
            ['宋智孝弟弟现身巴厘岛 陈柏霖提前见小舅子', '/mmmmm'],
            ['《花样姐姐》画面太美 林志玲性感电臀扭胯踢球', '/ooooo'],
            ['赌王“最美千金”搭港铁出行', '/ppppp'],
            ['邓紫棋这次终于穿对了 低胸白裙清纯又性感', '/qqqqq'],
            ['窦靖童：像妈妈是好事 很尊敬她', '/rrrrr'],
            ['外媒曝邓文迪与普京交往 克里姆林宫否认', '/sssss'],
            ['春夏获金像影后超激动 现场表白爱白只', '/ttttt'],
            ['李湘晒温馨全家福 王诗龄变大姑娘', '/uuuuu']
        ],
        [
            ['早评：三利好支撑 节后首日望震荡上探', 'http://www.baidu.com'],
            ['联储官员突放鹰派论调 美股周一收跌', '/bbbbb'],
            ['5日外媒头条：中国对全球市场冲击将有增无减', '/ccccc'],
            ['油价创1个月新低 冻产前景受质疑', '/ddddd'],
            ['券商看法分歧加大 短线或震荡反复', '/eeeee'],
            ['早评：变盘将至 两因素成行情风向标', '/fffff'],
            ['电动汽车无线充电技术获重大进展', '/ggggg'],
            ['数据传递经济企稳信号：用电量增长', '/hhhhh'],
            ['疯狂的苏州楼市：涨幅一度超深圳', '/iiiii'],
            ['传债转股方案最快4月推出 A股影响', '/jjjjj'],
            ['百亿资金围猎“猪周期” 远远不是猪价上涨这么简单', '/kkkkk'],
            ['发改委判断今年企业破产倒闭增多 一线房价短期将大涨', '/lllll'],
            ['罗杰斯看好中国农业做空美股 中国领衔亚洲掀起并购潮', '/mmmmm'],
            ['联想又“重组”了：移动产品掉队 缺乏主流竞争产品', '/ooooo'],
            ['互联网金融协会会员良莠不齐 上亿会费用途待公开', '/ppppp'],
            ['快鹿系深陷18亿兑付危机 郞咸平急撇清与金鹿关系', '/qqqqq'],
            ['社保基金：将配合制定划转部分国有资本充实社保办法', '/rrrrr'],
            ['李迅雷否认加盟中泰证券 未表态“高徒”姜超跳槽动向', '/sssss'],
            ['股价暴涨股东减持 员工持股接盘莱茵体育存利益输送?', '/ttttt'],
            ['1季度400只偏股基跌幅超创业板 公募分红700亿创新高', '/uuuuu']
        ],
        [
            ['尸体海底如何变化？猪的尸体4天内分解成骨头', 'http://www.baidu.com'],
            ['苹果iPhone SE上市首周末销售表现不佳', '/bbbbb'],
            ['第九大行星存在新证据：质量地球十倍轨道奇异', '/ccccc'],
            ['华为超越联想的秘密武器在这里', '/ddddd'],
            ['联想移动召回神奇工场 ZUK手机或上演勤王故事', '/eeeee'],
            ['中华网被以1.5亿的价格收购了', '/fffff'],
            ['特斯拉第一季度汽车出货量14820辆 同比增近50%', '/ggggg'],
            ['微软沈向洋：谷歌眼镜给Hololens带来启示', '/hhhhh'],
            ['美国团购巨头Groupon获2.5亿美元投资', '/iiiii'],
            ['贝佐斯：亚马逊将发布第八代Kindle', '/jjjjj'],
            ['亚马逊扩大支付系统使用范围 也要进军在线支付', '/kkkkk'],
            ['微信投票变味：交199元会费可刷票 1小时速成', '/lllll'],
            ['光场相机Lytro放弃消费市场 将进军虚拟现实', '/mmmmm'],
            ['欧盟反垄断专员：苹果避税案需要更多调查', '/ooooo'],
            ['3D打印机制造商3D Systems任命惠普前高管为CEO', '/ppppp'],
            ['丰田延长与微软合作：发展车联网', '/qqqqq'],
            ['形式混乱！英特尔两名高管决定离职', '/rrrrr'],
            ['e袋洗频遭投诉 先行赔付及7天内解决承诺成空谈', '/sssss'],
            ['网红将催生新商业模式 更受广告和电商倚重', '/ttttt'],
            ['食药监联合城管培训饿了么等外卖送餐员', '/uuuuu']
        ],
        [
            ['重点高校定向招6万农村和贫困地区学生', 'http://www.baidu.com'],
            ['今年山东投7亿解决中小学大班额问题', '/bbbbb'],
            ['国家发改委：教材价格并非“一放了之”', '/ccccc'],
            ['教育部促高校毕业生精准就业 严防“试用期陷阱”', '/ddddd'],
            ['2016年新设239个国家控制的高职专业点', '/eeeee'],
            ['高校招收贫困生的专项计划都招谁　教育部发文明确', '/fffff'],
            ['贫困地区定向招生国家专项计划今年扩招1万人', '/ggggg'],
            ['教育部：近期一些社会人员伤害学生事件令人震惊', '/hhhhh'],
            ['北京理工大学优势专业今年增加在京招生计划', '/iiiii'],
            ['63.4%受访者关心大学生休学创业审批条件', '/jjjjj'],
            ['大学小组作业为何会流于形式 要求模糊不无关系', '/kkkkk'],
            ['话剧《雨花台》在北大上演 将在全国高校巡演百场', '/lllll'],
            ['熊孩子一天花万元买迪士尼门票：请全班同学去', '/mmmmm'],
            ['放弃营利公司 大学生回乡给350户农民当“头儿”', '/ooooo'],
            ['人才管理，如何摒弃“官本位”', '/ppppp'],
            ['鼓励大学生购房不是去库存的捷径', '/qqqqq'],
            ['当孩子的职业偶像是“网红”的时候', '/rrrrr'],
            ['评论：要求本科论文独创有些缘木求鱼', '/sssss'],
            ['医学类专业不再纳入北大自主招生“博雅计划”', '/ttttt'],
            ['甘肃一中学校长伪造资料 为12人“高考移民”', '/uuuuu']
        ],
        [
            ['工信部新能源车目录现新品牌', 'http://www.baidu.com'],
            ['宝马零部件售价最高降30%', '/bbbbb'],
            ['4月11日起 北京市十条大街禁行电动二轮车', '/ccccc'],
            ['车市步入淡季 不少品牌车商库存大增', '/ddddd'],
            ['长安汽车携手百度开启智慧汽车新时代', '/eeeee'],
            ['揭秘北京牌私下交易 摇号政策是否应修改', '/fffff'],
            ['开拓专类精细润滑脂市场 长城发布新品战略', '/ggggg'],
            ['美媒：高田气囊召回总成本或达240亿美元', '/hhhhh'],
            ['特斯拉Model 3预定火爆 ', '/iiiii'],
            ['愚人节汽车恶搞集锦 看了后我只想静静', '/jjjjj'],
            ['传宝马酝酿超豪华旗舰 将与迈巴赫一较高下', '/kkkkk'],
            ['联合国出台电动汽车等行车声音的国际标准', '/lllll'],
            ['双龙汽车拟2020年进入美国市场', '/mmmmm'],
            ['本田发售燃料电池车 价格高昂等成课题', '/ooooo'],
            ['通用在美停售雪佛兰迈瑞宝 安全气囊故障', '/ppppp'],
            ['金马股份拟116亿收购众泰汽车全部股权', '/qqqqq'],
            ['野心大诚意小 菲亚特克莱斯勒联盟在华失衡', '/rrrrr'],
            ['日本6大车企将抱团研发自动驾驶 对抗欧美企业', '/sssss'],
            ['锂电池原材料一年疯涨300% 部分厂商被迫停工', '/ttttt'],
            ['上海发布新能源汽车补贴标准', '/uuuuu']
        ]
    ];
    BeginChange(220,180,5,datas[0]);
    function qiehuan(n){
        if(n==0){
            BeginChange(220,180,5,datas[n]);
        }else if(n==1){
            BeginChange(220,180,5,datas[n]);
        }else if(n==2){
            BeginChange(220,180,5,datas[n]);
        }else if(n==3){
            BeginChange(220,180,5,datas[n]);
        }else if(n==4){
            BeginChange(220,180,5,datas[n]);
        }else if(n==5){
            BeginChange(220,180,5,datas[n]);
        }
    }
    $(function(){
        var n = 1;
        setInterval(function(){
            if(n > 5){
                n = 0;
            }
            $('#b'+n+'').addClass('cb-nav-cur').siblings().removeClass('cb-nav-cur');
            qiehuan(n);
            n++;
        },5000)
    });
</script>
</body>
</html>