
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
</head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<body>
<div class="transportation">
    <span>处罚</span>
    <span>事故</span>
    <span>数量</span>
    <span>数量</span>
    <span>数量</span>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main0"></div>
    <div id="main"></div>
    <div id="main1"></div>
    <div id="partCat"></div>
    <button>7月3日</button>
    <img src="image/toolbox.png" alt="">
</div>


<script type="text/javascript" src="../../lib/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../../lib/echarts-all.js"></script>
<script type="text/javascript" src="js/data.js"> </script>
<script type="text/javascript" src="js/index.js"> </script>
</body>
